<% @post.tags.build %>
<%= form.fields_for :tags do | f | %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
		<% if f.object.persisted? %>
			<%= f.label :_destroy %>
			<%= f.check_body :_destroy %>
		<% end %>
	</div>
<% end %>